/* Change the white to any color ;) */
.input-group input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #337ab7 !important;
}

body {
  padding: 100px;
  -webkit-font-smoothing: antialiased;
}

.login-form{
	margin:2em 0 2em 0;
}

.input-group input, .form-button {
  background: none;
  border: solid 2px #337ab7;
  color: #337ab7;
  padding: 15px 40px;
  font-size: 18px;
  display: inline-block;
}
.input-group input:focus, input:active {
  outline: none;
}
.input-group input[type="text"], input[type="email"], input[type="password"] {
  border: none;
  border-bottom: solid 2px #337ab7;
}

.form-button {
	margin:1em .5em .5em 0em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:150px;        
}

.form-button:active {
  color: white;
  background: #337ab7;
}

.input-group {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.input-group input {
  padding: 15px 0px;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-style: italic;
  font-size: 18px;
  color: #999;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.input-group input:focus + label,
.input-group input.has-value + label {
  top: 0px;
  font-size: 12px;
  color: #aaa;
}

.myForm button {
	margin-right:0.5em;
}


/*modal window */

.modal-content .modal-dialog {

}
.modal-content i {
  font-size:18px;
}

.close-modal {
  position:absolute;
  top:15px;
  right:20px;
  opacity:0.5;
  transition: 0.2s ease-in-out;

}

.close-modal:hover {
  opacity:1;
}

.put-blog {
  margin-bottom:5px;
}