<div class="content-wrapper" >
	<div ng-repeat="blog in blogs">
				<div class="container">
					<div class="row row-eq-height" id="b{{$index}}" my-scrollable>
						<div class="col-xs-6 blogwrap">
							<h2>{{blog.title}} 
							</h2>
							<span> 
								<div class="material-icon author"></div> {{blog.author}} 
								<div class="material-icon date"></div> {{blog.date | date: 'MM-dd-yyyy hh:mm:ss'}} 
								<div class="material-icon category" ng-if="blog.category"></div> {{blog.category}} 
								<div class="material-icon comments" ng-init="commentCount = getCommentCount(blog._id, $index)">  </div> {{ blog.commentCount }}  
							</span>
							<span class="keyholder">  
								<div class="btn btn-default keyword-small" ng-repeat="keyword in blog.keywords track by $index">#{{keyword}}
									</div>  
							</span>
							<p>{{blog.preview | limitTo:250}} ... </p>
						</div>
						<div class="col-xs-4 asidewrap">
							<blockquote ng-if="blog.quote" ng-bind-html="blog.quote"></blockquote>
							<a class="thumbnail" ng-show="blog.thumbnailUrl">
								<img src="{{blog.thumbnailUrl}}" alt="">
							</a>	
						</div>
						
					</div>
					<a ui-sref="blog-detail({ data : blog })"> Read More </a>	
				</div>
				<hr class="blog-hr">
	</div>

	<my-splash-scroll></my-splash-scroll>
	 
	
</div>

