<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRUD Index</title>
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

</head>
<body >
	<div class="container">
		<h4>Authorization with NodeJS</h4>
		<p>Welcome to the home page.</p>
		<p>	Please <a href="/auth/login">Login</a> or <a href="/auth/register">Register</a> to continue.
	</div>

	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>


</body>
</html>