<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login to CRUD</title>
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/css/crud.css">
</head>
<body>
	
	<div class = "container">
		<h2>CRUD Login</h2>
		<h4>a.k.a ScottyCMS</h4>

		<form class="login-form" method="post">
  			  <input type="hidden" name="_csrf" value="{$ csrfToken $}">
			  <div class="input-group">
			    <input type="email" name = "email">
			    <label for="email">Your Email Address</label>
			  </div><br><br><br>
			  
			  <div class="input-group">
			    <input type="password" name = "password">
			    <label for="password">Your Password</label>
			  </div><br>
			  <input class="form-button" type="submit" value="Login" name='submit'>
			  <input class="form-button" type="reset" value="Clear" name='reset'>
			</form>
			
		{$ error $}
	</div>

	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/js/form/form-events.js"></script>
</body>
</html>

