<style>
	.content {
		margin-left:40px;
	}
</style>
<div class="container content">
	<h2>Test Space</h2>
	<div >
	<a href="http://functional-aesthetics.herokuapp.com" target="_blank">Data Viz</a><p style="display:inline"> : Integrating React with D3.js</p>
	</div>
	<br>
	<div >
	<a href="http://socketpong-aesthetics.rhcloud.com" target="_blank">Pong</a><p style="display:inline"> : using Socket.io, Angular and D3.js.</p>
	</div>
	<br>
	<div >
	<a href="http://functional-aesthetics.rhcloud.com/barsrgb" target="_blank">D3 LED equalizer</a><p style="display:inline"> : Fun with D3.js</p>
	</div>
	<br>
</div>
